body #ArtviseWebHelpTab, #ArtviseWebHelpMain #ArtviseDialogHeader, #ArtviseWebHelpMain #ArtviseDialogStatusContainer, #ArtviseWebHelpMain button, #ArtviseDialogExpandButton {
    background-color: #dc328a !important;
}
#ArtviseWebHelpMain * {
    font-size: 11px !important; 
    font-family: "Open sans", sans-serif;
	@media only screen and (max-height: 600px) {
	font-size: 13px !important;
    }
	@media only screen and (min-height: 601px) {
	font-size: 16px !important;
    }
    @media only screen and (max-width: 400px) {
	font-size: 13px !important;
    }
}
#ArtviseWebHelpMain {
    border-radius: 0.6em;
}
#ArtviseDialogCollapsableContainer {
  width: 305px !important;
@media screen and (max-width: 370px) {
	width: 100% !important;
    }
@media screen and (min-width: 500px) {
	width: 400px !important;
    }
@media screen and (max-height: 480px) {
	height: 100% !important;
    }
}
#ArtviseWebHelpMain div {
    margin-bottom: 10px;
}
#ArtviseWebHelpMain input, #ArtviseWebHelpMain textarea {
    width: calc(100% - .75em * 2) !important;
    padding: .625em .75em;
    border: 1px solid #dddddd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#ArtviseWebHelpMain button {
    /*! padding: 8px 24px; */
    font-size: 16px;
}
#ArtviseWebHelpMain button {
    padding: 0.75em 1.15em;
    border-radius: calc(0.375em * 1.33333);
    font-weight: 600;
}
#ArtviseSendChatMessage {
	word-break: normal !important;
}
#ArtviseWebHelpMain label{
    font-size: 16px;
}
#ArtviseWebHelpMain .ArtvisePublicRecordAccessNotice {
    margin: 10px 0;
}
#ArtviseWebHelpMain #ArtviseDialogHeaderText {
    font-weight: 600;
}
#ArtviseWebHelpMain #ArtviseDialogHeader {
    border-radius: 0.5em 0.5em 0 0;
}
